<!doctype html>
<html>
<title>Armory Hello Deploy!</title>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="content">
      <div class="center">
        <div>
          <img class="logo" src="http://blog.armory.io/content/images/2016/09/Armory_logo-1.png" />
        </div>
        <div class="details center">
        <h1>Armory Spinnaker</h1>
         {% for key, value in userdata.items() %}
         <div class="details" style="margin:5px">
              <span style="display: block;text-align:left"><strong>{{ key }}: </strong><span>
              <span style="text-align:right">{{ value }}</span>
          </div>
         {% endfor %}

        <h1>Build Info</h1>
        {% for key, value in build_data.items() %}
            <div class="details" style="margin:5px">
          <span style="display: block;text-align:left"><strong>{{ key }}: </strong><span>
          <span style="text-align:right">{{ value }}</span>
            </div>
        {% endfor %}
        </div>


        <h1>Send events to Datadog</h1>
        <div><button type="button" class="btn btn-primary" id="datadog_event">Send an "event"</button></div>
      <br>
        <div><button type="button" class="btn btn-primary" id="datadog_counter">Send a counter inc</button></div>
      <br>
        <div><button type="button" class="btn btn-primary" id="increase_diskspace">Make a 500MB file</button></div>
      <script>
          $('#datadog_event').click(function () {
              $.get('/datadog/event');
          });
          $('#datadog_counter').click(function () {
              $.get('/datadog/counter');
          });
          $('#increase_diskspace').click(function () {
              $.get('/increase_disk');
          });
      </script>
      </div>
    </div>
</body>
</html>
